<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="<%= image_url("favicon.ico") %>" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <title><%= @title || "jwils.co" %></title>
    <link href="//fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700,400italic" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag "main" %>
  </head>
  <body class="font-serif antialiased bg-gray-50">
    <div class="flex flex-col justify-center sm:py-12 relative min-h-screen py-6 overflow-hidden">
      <img src="<%= image_url("beams.jpg") %>" alt="" class="top-48 left-0 max-w-none fixed -translate-x-1/2 -translate-y-1/2" width="1308" />
      <div class="fixed inset-0 bg-[url('/assets/images/grid.svg')] bg-center [mask-image:linear-gradient(135deg,white,rgba(255,255,255,0))] z-0"></div>
      <div class="md:px-0 relative z-10 px-4">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
