.span3.pull-right#sweet_nav
  .vr.pull-left
  .self_img_div
    = link_to root_path do
      %img.self{:src => "/assets/self-portrait-site.png", :alt => "why would you be reading alt text??"}
  %ul
    %li.hidden-phone
      = link_to root_path, :class => "block-link block-link-clear" do
        %i.icon-home
    %li
      = link_to portfolio_path, :class => "block-link block-link-blue" do
        Portfolio
    %li
      = link_to resume_path, :class => "block-link block-link-red" do
        R&egrave;sum&egrave;
    %li
      = link_to contact_path, :class => "block-link" do
        Contact
  .clearfix
%hr.visible-phone