<div class="span12">

<h1>Facts</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Fact</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @facts.each do |fact| %>
      <tr>
        <td><%= fact.id %></td>
        <td><%= link_to fact.fact, fact_path(fact) %></td>
        <td><%= fact.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_fact_path(fact), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', fact_path(fact), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_fact_path, :class => 'btn btn-primary' %>

</div>
