<h1>Project</h1>

<p>
  <b>Title</b><br>
  <%= @project.title %>
</p>

<p>
  <b>Image src</b><br>
  <%= @project.image_src %>
</p>

<p>
  <b>Description</b><br>
  <%= @project.description %>
</p>

<div class="form-actions">
  <%= link_to 'Back', projects_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_project_path(@project), :class => 'btn' %>
  <%= link_to 'Delete', project_path(@project), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
