<h1>Post</h1>

<p>
  <b>Name</b><br>
  <%= @post.name %>
</p>

<p>
  <b>Title</b><br>
  <%= @post.title %>
</p>

<p>
  <b>Content</b><br>
  <%= @post.content %>
</p>

<div class="form-actions">
  <%= link_to 'Back', posts_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_post_path(@post), :class => 'btn' %>
  <%= link_to 'Delete', post_path(@post), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
